.cycles {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1.3rem;
}

.cycleDots {
  display: flex;
  gap: 0.8rem;
}

.cycleDot {
  background-color: var(--primary);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.workTime {
  background-color: var(--success);
}

.restTimeShort {
  background-color: var(--warning);
}

.restTimeLong {
  background-color: var(--info);
}
